.topSection{
    .headerSection{
        justify-content: space-between;
    }

    .title{

        h1 {
            font-size: 1.5rem;
            color: #9a1750;
            font-weight: 700;
        }
/*     
        p{
            font-size: 18px;
            color: #9a1750;
        } */
    }

    .searchBar{
        padding: 1rem 2rem;
        background: #fff ;
        border-radius: 5px;
        gap: 1rem;
        box-shadow: 0 2px 4px rgb(168, 167, 167);

        input {
            border: none;
            outline: none;
            background: none;
        }

        .icon{
            color: rgb(108, 108, 108);

            &:hover{
                color: #9a1750;
            }
        }

    }
    
}