.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}

.dark .mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    background-color: #670630;
}

.bottom{
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-start;
}

.container_dash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.categories{
        display: flex;
        flex-wrap: wrap;
        gap: 6em;
        margin-top: 4em;
        margin-bottom: 6em;
        align-items: center;
        justify-content: center;
}

@keyframes jiggle {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }
  
  .categories box-icon {
    transition: transform 0.2s ease-in-out;
  }
  
  .categories box-icon:hover {
    transform: scale(0.9) rotate(-5deg);
    animation: jiggle 0.5s ease-in-out infinite;
  }