.mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
}

.dark .mainContent{
    width: 82%;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    background-color: #670630;
}

.bottom{
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-start;
}

.container_dash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.categories{
        display: flex;
        flex-wrap: wrap;
        gap: 6em;
        margin-top: 4em;
        margin-bottom: 6em;
        align-items: center;
        justify-content: center;
}