*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial';
}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #E7F0DC;
  color: #fff;
  transition: 0.5s;
}

.container.dark{
  background-color: #658147;
}

.container.light{
  background-color: #E7F0DC;
}