*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', 'Helvetica';
}

.container{
  width: 100vw;
  min-height: 100vh;
  background-color: #E7F0DC;
  color: #fff;
  transition: 0.5s;
}

.container.dark{
  background-color: #658147;
}

.container.light{
  background-color: #E7F0DC;
}


.cta{
  display: flex;
  justify-content: center;
  color: black;
}

.cta__container{
  display: flex;
  flex-direction: row;
  padding: 1em;

}

.cta__image{
  width: 20%;
}

.cta__content{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.cta__container p{
  width: 50%;
}
.cta__container button{
  width: 20%;
}