*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', 'Helvetica','sans-serif';
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

.container{
  width: 100vw;
  min-height: 100vh;
  /* background: #e3e2df; */
  /* color: #9a1750; */
  transition: 0.5s;
}


.container.dark{
  background: #6f0835;
  color: #e3e2df;
}

 .container.light{
  background-color: #e3e2df;
  color: #9a1750;
 } 

 .footer {
  padding: 0 0 50px 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 30px;
  margin-left: 20px;
}

.footer h3 {
  margin-left: 25px;
  margin-bottom: 10px;

}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #706f6f;
  letter-spacing: 0.5px;
  margin-top: 80px;
  text-align: center;
  /* margin-bottom: 20px; */
}


.signup {
  /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
  width: 100%;
  padding: 60px 0 40px 0;
}
.signup img {
  width: 62%;
}
.signup h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.signup form input, .signup form textarea, .country .state{
  width: 98%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 15px;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}


.signup form input:focus, .signup form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.signup form input::placeholder, .signup form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #9a1750;
  /* color: #121212; */
}

.dark .signup form input::placeholder, .signup form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  /* color: #9a1750; */
  color: #e3e2df;
}

.signup form input:focus::placeholder, .signup form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.signup form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.signup form button span {
  z-index: 1;
  position: relative;
}
.signup form button:hover {
  color: #fff;
}
.signup form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.signup form button:hover::before {
  width: 100%;
}